<!-- Flexbox container for aligning the toasts -->
{% load humanize %}
<div class="col-12 col-md-4 mb-3">
  <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center " style="min-height: 200px;">

    <!-- Then put toasts within -->
    <div class="toast rounded border border-dark" role="alert" aria-live="assertive" aria-atomic="true" autohide: false,>
      <div class="m-3 toast-header ">

          <div style="display:inline; width: 5px; height: 5px" class="bg-success text-success">ㅁ</div>
        {% comment %} {% if pink_light.empty %}
          <div style="display:inline; width: 5px; height: 5px" class="bg-success text-success">ㅁ</div>
        {% else %}
          <div style="display:inline; width: 5px; height: 5px" class="bg-danger text-danger">ㅁ</div>
        {% endif %} {% endcomment %}
  
        <strong class="mr-auto">알림</strong>
        <form action="{% url 'webserver:delete_notification' notification.pk %}" method="post" style="display:inline; ">
        {% csrf_token %}
          <input type="submit" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close" value="&times;">
            {% comment %} <a href="{% url 'webserver:delete_notification' notification.pk %}" aria-hidden="true">&times;</a> {% endcomment %}
          </button>      
        </form>
      </div>
      <hr>
      <div class="mx-3 mt-3 mb-4 toast-body">
        {{ notification.content }}
      </div>
    </div>
  </div>
</div>