{% extends 'base.html' %}

{% load bootstrap4 %}


{% block body %}

<div class="container">
      {% comment %} {% if user.is_authenticated %}
        <div class="mt-4">
          <a class="btn btn-warning" href="{% url 'webserver:new' %}">[열차 추가]</a>
        </div>
      {% endif %} {% endcomment %}
    
    {% comment %} {{pink_light}} {% endcomment %}

  <div class="row mt-4">
    {% if user.is_authenticated %}
      {% for notification in notifications %}
        {% include 'webserver/_toast.html' %}
      {% empty %}
      <p>알림이 없습니다. </p>
      {% endfor %}    
    {% endif %}

  </div>

  <div class="row mt-4">
    {% if user.is_authenticated %}
      {% for train in trains %}
        {% include 'webserver/_trains.html' %}
      {% empty %}
      <p>열차에 대한 정보가 없습니다.</p>
      {% endfor %}    
    {% else %}
      <p>관리자 전용 </p>
    {% endif %}

  </div>

<div>
{% comment %} 
<script>
  const closeButtons = document.querySelectorAll('.close-button')
  closeButtons.forEach(button => {
    closeButton.addEventListener('click', function(e){
      const notificationId = e.target.dataset.id

      axios.defaults.xsrfCookieName = 'csrftoken'
      axios.defaults.xsrfHeaderName = 'X-CSRFToken'

      axios.post(`/webserver/${notificationId}/delete_notification`)
      .then(response => {
        console.log(response)
      })
      .catch(error => {console.log(error)})


    })
  })


</script> {% endcomment %}

{% endblock  %}
